:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --Main: red;
  }

* {
    /* Display: Flex;
    align-items: center;
    justify-content: center;
    height: 100vh; */
    margin: 0, auto;
    padding: 0;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Main);
}

h2 {
    background-color: var(--Main); 
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--Main);
    color: black;
    text-align: center;
  }

li {
    display: inline;
    text-align: left;
}

img {
    box-sizing: border-box;
}

.About-Us {
    max-height: 150px;
    max-width: 100px;
}